SHOPIFY_API_KEY=
SHOPIFY_API_SECRET=
SHOPIFY_API_SCOPES=
SHOPIFY_APP_URL=https://ngrok-url.io
SHOPIFY_API_VERSION="2024-01"
DATABASE_URL="postgres://username:password@127.0.0.1:5432/shopify-app?schema=public"
ENCRYPTION_STRING= #Required

# To quickly install the app on your store, use this URL:
# https://ngrok-url.io/api/auth?shop=storename.myshopify.com

## Notes:
# Ensure SHOPIFY_APP_URL starts with `https://`.
# When deploying to Vercel, don't wrap any values in quotes.
# Updating `SHOPIFY_API_SCOPES` requires a restart of the dev server.
